<!DOCTYPE html>
<html>
<head>
	<title>AngularJS Instant Search</title>
	<link rel="stylesheet" href="css/search-style.css">
</head>

<body>

<!-- Initialize a new AngularJS app and associate it with a module named "instantSearch". We need to define a module in order to use filters. -->
<div ng-app="instantSearch" ng-controller="InstantSearchController">

	<div class="bar">
		<!-- Create a binding between the searchString model and the text field -->
		<input type="text" ng-model="searchString" placeholder="Enter your search terms" />
	</div>

	<ul>
		<!-- Render a li element for every entry in the items array. -->
		<li ng-repeat="i in items | filter: searchString | orderBy: 'title'">
			<a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>
			<p>{{i.title}}</p>
		</li>
	</ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

<script src="Scripts/instant-search.js"></script>

</body>

</html>